<!-- <div class="profile-container">
  <h2>Your Profile 👤</h2>
  <p><strong>Email:</strong> {{ userEmail }}</p>
  <p><strong>{{ joinDate }}</strong></p>

  <h3>Saved Recipes</h3>
  <div class="food-grid">
    <div class="food-card" *ngFor="let item of savedItems">
      <img [src]="item.image" />
      <h4>{{ item.title }}</h4>
    </div>
  </div>

  <h3>Favorited Recipes</h3>
  <div class="food-grid">
    <div class="food-card" *ngFor="let item of favoriteItems">
      <img [src]="item.image" />
      <h4>{{ item.title }}</h4>
    </div>
  </div>
</div> -->

<div>
      <button (click)="logout()">Logout</button>
</div>
